.hotel-card{
    min-height: 230px;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
                line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .images-container{
        min-width: 200px;
        max-width: 200px;
        overflow: hidden;
       .hero-image{
           width: 200px;
       }
    }
    .price-details{
        min-width: 160px;
        .discounted-price{
            vertical-align: sub !important;
            vertical-align: -webkit-baseline-middle !important;
        }
    }
}