// Global css
li{
    list-style: none;
}

// Define variable defaults
$black: #000;
$body-bg: #FFFFFF;
$body-color: #333;

//Define variable
$logo-width: 227px;

// Define global class
.custom-header-link{
    color: $black
}



// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Import components scss
@import '../scss/TheHeader.scss';