.base-input {
    input{
        border-radius: 3px;
        &.have-icon{
            padding-left: 35px;
        }
    }
    input,
    input::-webkit-input-placeholder {
    font-size: 14px;
    color: $grey-100;
    }
    .icon{
        position: absolute;
        margin: 17px 10px;
    }
    .size-sm{

        height: 50px;
        @media only screen and (min-width: $laptop-breakpoint)  {
            width: 250px;
        }

    }
    .size-md{
        height: 50px;
        @media only screen and (min-width: $laptop-breakpoint)  {
            width: 350px;
        }
    }
    .size-lg{
        height: 50px;
        @media only screen and (min-width: $laptop-breakpoint)  {
            width: 470px;
        }
    }
}